.tabs-widget {
	border: 0px !important;	
	overflow: hidden;
	clear: both;
	}

ul.tabs {
	height: 40px;
	width: 100%;
	margin: 0 0 0 10px !important;
	padding: 0 !important;
	list-style: none !important;
	}

ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	}

ul.tabs li a {
	display: block;
	background: #02475C;
	color: #9AB5BE;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	margin: 0px 3px;
	padding: 7px 40px;
	text-decoration: none;
	}

ul.tabs li a:hover {
	color: #FFFFFF;
	}

ul.tabs li.active a {
	background: #046C8B;
	color: #FFFFFF;
	}

.tab_container {
	background: #FFFFFF;
	float: left;
	width: 910px;
	height: 295px;
	margin: 0;
	padding: 20px;
	border: 5px solid #046C8B;
	overflow: hidden;
	clear: both;
	}

.tab_content {
	padding: 0 !important;
	}

.tab_content h2 {
	margin: 0;
	font-size: 26px;
	line-height: 30px;
	}

.tab_content .more-link {
	background: #DF6F00;
	color: #FFFFFF;
	float: right;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 10px;
	margin-top: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}

.tab_content img {
	float: right;
	margin-left: 20px;
	}